.book-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f7fa;
}

.book-page-container h2 {
  font-size: 22px;
  margin-bottom: 0px;
  color: #333;
}

.book-gas-button {
  background: rgb(155, 36, 36);
  color: white;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.book-gas-button:hover {
  background: green;
}
